:root {
    --background-navbar: #222;
    --color-text-item: #fff;
    --color-text-item-hover: #ffbb33;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-navbar);
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: var(--color-text-item);
    text-decoration: none;
}

.item a:hover {
    color: var(--color-text-item-hover);
}